/* Colors
    hsla(260, 5%, 70%, 1)
    hsla(217, 17%, 34%, 1)
*/

html {
    font-family:'Signika Negative';
    font-weight: normal;
    font-size: 16px;
    color: hsla(217, 17%, 20%, 1);
}

main {
    position: relative;
    top: 4rem;
}

body {
    margin: 0;
}

h1  {
    margin: 0;
    font-size: 3.5rem;
    font-weight: 700;
}

h3 {
    font-size: 1.8rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: hsla(217, 17%, 20%, 1);
}

/* Header */

header {
    height: 4rem;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
}

header .logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    line-height: 1.3335;
    margin-left: 1.5rem;
    color: hsla(260, 5%, 70%, 1);
}

header img {
    width: auto;
    height: 3rem;
}

header .logo strong {
    color: hsla(217, 17%, 20%, 1);
}

header nav {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
}

nav a {
    padding: 0 0.5rem;
}

/* Sign up */

.signup {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: hsla(260, 5%, 70%, 1);
}

.signup img {
    width: 60%;
    margin: 2rem 1.5rem;
}

.signup .textbox {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.signup .button {
    background-color: hsla(217, 17%, 20%, 1);
    padding: 0.5rem 0;
    width: 100%;
    color: hsla(0, 100%, 100%, 0.8);
    font-size: 1.5rem;
    text-align: center;
}