/* Colors
    hsla(260, 5%, 70%, 1)
    hsla(217, 17%, 34%, 1)
*/

html {
    font-family:'Signika Negative';
    font-weight: normal;
    font-size: 16px;
}

main {
    position: relative;
    top: 3.5rem;
}

/* Header */

header {
    height: 4rem;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
}

header .logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    line-height: 1.3335;
    margin-left: 1.5rem;
    color: hsla(260, 5%, 70%, 1);
}

header img {
    width: auto;
    height: 3rem;
}

header .logo strong {
    color: hsla(217, 17%, 34%, 1);
}

header nav {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
}

nav a {
    text-decoration: none;
    color: hsla(217, 17%, 34%, 1);
    padding: 0 0.5rem;
}

/* Sign up */

.signup {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: hsla(260, 5%, 70%, 1);
}

.signup img {
    width: 60%;
    margin: 2rem 1.5rem;
}

.signup .textbox {
    margin-left: 1.5rem;
}